*,*:after, *before{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	
}

*{
	box-sizing: border-box;
}
body{
	margin: 0;
	font-size: 16px;
	font-family: Arial, Helvetica, sans-serif;
	line-height: 1.4em;
}


/*-----------------------------------------------------------------------------
	Anchura del Sitio
-----------------------------------------------------------------------------*/
.contenedor{


	
}


/*-----------------------------------------------------------------------------
	ENCABEZADO
-----------------------------------------------------------------------------*/
.encabezado{
	height: 60px;
	background-color: navy;
	overflow: hidden;
	position:fixed; 
	width: 100%;
	z-index: 100;
	
}

.encabezado nav{
	float: right;
	
}



.encabezado nav ul{
	margin: 0;
	padding: 0;
	list-style: none;
	
}
 
.encabezado nav ul li{
	display: inline-block;
	margin-right: -4px;
	
}

.encabezado nav ul li a{
	display: block;
	color: #fff;
	padding: 18px;
	text-decoration: none;
	border-left: 1px solid #696969;
}

.encabezado nav ul li a:hover{
background-color: #686868;
	
}

.logo{
	text-align: center;
	font-size: 40px;
    margin-left: 3%;
	margin-top: -5px;
	float: left;
	text-decoration: none !important;
	color: #fff;	
}
.logo img{
	margin-top: -5px;
	height: 60px;
}

a:hover{
	color: #fff !important;

}

.perfil{
	position: absolute;
	width: 20%;
	margin-top: 10%;
	margin-left: 41%;
}
.perfil img{
	padding: -10;
	border: 2px solid firebrick;
	border-radius: 50%;
}
.descri{
	background-color: rgba(1, 1, 1, 0.6);
	font-weight: bold;
	color: white;
	position: absolute;
	margin-top: 31%;
	margin-left: 37%;
}


/*-----------------------------------------------------------------------------
	SLIDER
-----------------------------------------------------------------------------*/
.slider{
	width: 100%;
	margin: auto;
	background-color: beige;
	text-align: center;
	overflow: hidden;
	padding-top: 30px;
}

.slider img{
	width: 100%;
	height: 100%;
}

.slider ul {
	display: flex;
	margin-bottom: 0;
	padding: 0;


}





/*-----------------------------------------------------------------------------
	CONTENIDO
-----------------------------------------------------------------------------*/
.contenido{
    background-color:white;
	text-align: center;

}

 p{
		text-align: justify;
	 	font-size: 24px;
}

.sobremi{
	color: navy;
	padding-top:80px; 
	height: auto;
	background-color: lightgray;
	
	padding-bottom: 100px;
}

.servicios{
	color: navy;
	padding-top:80px; 
	height: 1300px;
	background-color: white;
}
.columna1{
	float: left;
}
.columna2{
	float: right;
}
.columna1  img{
	height: 250px;
	width: 250px;

}
.columna2  img{
	height: 250px;
	width: 250px;
	
}
#circulo {
	width: 100%;
	height: 500px;
	border-radius: 50%;
	border: 2px solid navy;

	
	justify-content: center;
	align-items: center;
	text-align: center;
	margin-bottom: 50px;
}
#circulo > p {
	
	margin-left: 40px;
	margin-right: 40px;
	text-align: center;
	font-family: sans-serif;
	color: navy;
	font-size: 22px;
	font-weight: bold;
}



.productos{
	color: navy;
	padding-top:80px;
	background-color: lightgray;
	height: auto;
	padding-bottom: 100px;
}
.contacto{
	color: navy;
	padding-top:80px; 
	height: 1000px;
	background-color: white;
}
/*-----------------------------------------------------------------------------
	FOOTER
-----------------------------------------------------------------------------*/
.footer{
    background-color: navy;
	color: white;
    height: 80px;
    padding-top: 30px;
    text-align: center;
}

/*-----------------------------------------------------------------------------
	PRELOADER
-----------------------------------------------------------------------------*/
#contenedor_carga{
	background-color: rgba(250, 240, 245, 0.9);
	height: 100%;
	width: 100%;
	position: fixed;
	transition: all 1s ease;
	z-index: 10000;
	
}

#carga{
	border: 15px solid #ccc;
	border-top-color: #F4266A;
	border-top-style: groove;
	height: 100px;
	width: 100px;
	border-radius: 100%;
	
	position: absolute;
	top:0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	
	animation: girar 1.5s linear infinite;
}

@keyframes girar {
	from { transform: rotate(0deg); }
	to { transform: rotate(360deg); }
}