body {
     background-color: #141414;
}
body a {
     font-size: 30px;
     margin: 20px;
     color: #ffffff;
}
h1 {
    text-align: center;
    color: #ffffff;
}
.enlace {
     text-decoration: none;
} 


